/* Max Width: 991px */
@media (max-width: 991px)
    div#app
        overflow: hidden
    /* Header */
    header#header
        display: none
    div#responsive-header
        div.header-layout
            height: 60px
            background-color: #f0f0f0
            div.menu
                img
                    max-width: 26px
            div.buttons
                i
                    font-size: 28px
                .form
                    img
                        max-width: 26px
    main#main
        div#hero-placeholder
            div#hero-slider
                div.hero-slider
                    .owl-dots
                        display: none
                    div.slider-item
                        height: unset
                        padding: 45px 0px
                        div.slider-details
                            div.slider-header
                                div.slider-title
                                    font-size: 14px
                                    span
                                        font-size: 45px
                                div.slider-buttons
                                    display: none
                            div.slider-desc
                                font-size: 14px
                                line-height: 23px
                            div.mobile-slider-buttons
                                display: inline-block
                                vertical-align: middle
                                padding-left: 15px
                                margin-top: 15px
                                a.slider-button
                                    background-color: rgba(227, 54, 84, 0.9)
                                    border-radius: 3px
                                    font-size: 0
                                    display: block
                                    div.count
                                        display: inline-block
                                        vertical-align: middle
                                        padding: 0px 15px
                                        font-family: $gb
                                        font-size: 16px
                                        color: #fff
                                        span
                                            display: block
                                            font-size: 41px
                                            line-height: 41px
                                    div.icon
                                        display: inline-block
                                        vertical-align: middle
                                        padding: 30px 20px
                                        border-left: 1px solid #c02540
                                        font-size: 14px
                        
                        div.slider-navigation
                            display: none
            div.hero-search
                position: relative
                bottom: unset
                left: unset
                margin: 0
                height: unset
                div.location
                    padding: 15px 15px
                    div.title
                        display: none
                &:before
                    content: ""
                    position: absolute
                    top: 0
                    left: calc(-50% + 2px)
                    width: 50%
                    height: 100%
                    background-color: #1d1f42
                &:after
                    content: ""
                    position: absolute
                    top: 0
                    right: calc(-50% + 2px)
                    width: 50%
                    height: 100%
                    background-color: #e33654
                div.form-box
                    display: none
                button
                    text-align: center
                    span
                        display: none
        div#top-cities
            padding: 50px 0px
            div.section-title
                font-size: 20px
                line-height: 1.35
                margin-bottom: 15px
        div#top-guides
            padding: 50px 0px
            div.section-title
                font-size: 20px
                line-height: 1.35
                margin-bottom: 15px
            div.listing
                .owl-nav
                    display: none
    main#main.home
        div.featured-projects-1
            padding: 50px 0px
            div.section-title
                font-size: 20px
                line-height: 1.35
                margin-bottom: 15px
            div.featured-project-list-1
                div.item
                    div.project-block
                        figure.project-image
                            height: 201px
                        div.project-details
                            div.project-desc
                                font-size: 14px
        div.featured-projects-2
            padding: 50px 0px 30px 0px
            div.section-title
                font-size: 20px
                line-height: 1.35
                margin-bottom: 15px
            div.featured-project-list-2
                .owl-stage-outer
                    padding-bottom: 80px
                .owl-nav
                    display: none
                div.item
                    div.project-block
                        div.project-details
                            color: #000
                        div.project-view
                            display: flex
        div.policy-area
            padding: 40px 0px
            div.row
                flex-direction: column-reverse
                div.policy-text
                    margin-top: 30px !important
                    div.section-title
                        font-size: 20px
                        line-height: 32px
                        margin-bottom: 15px
                    font-size: 14px
                    line-height: 25px
    main#main
        div.help-form
            padding: 30px 0px
            div.section-title
                font-size: 20px
                line-height: 32px
            div.section-desc
                font-size: 14px
                line-height: 22px
                margin-bottom: 15px
            form.help-form
                textarea
                    margin-top: 1rem
                    
    footer#footer
        div.top-footer
            height: unset
            div.top-footer-left
                padding: 15px 0px
                div.subscribe-info
                    max-width: 100%
                    padding: 0px 15px
                    div.subscribe-desc
                        text-align: left
                        font-size: 16px
                        span
                            font-size: 12px
            div.top-footer-right
                form.footer-subscribe-form
                    div.input
                        padding: 0
                        width: calc(100% - 60px)
                        div.placeholder
                            div.icon
                                display: none
                            input
                                width: 100%
                    button
                        width: 60px
                        height: 60px
        div.bottom-footer
            height: unset
            div.row
                flex-direction: column-reverse
            div.copyright
                padding: 0px 0px 30px 0px
                text-align: center
            div.social-icons
                padding: 30px 0px 30px 0px
                text-align: center