/*  HEADER COPONENT */
.Header {
  width: 100%;
  height: 80px;
  background-color: #f0f0f0;
}

.HeaderLogo{
  position: absolute;
  margin-left:4.53%;
  margin-top: 25px;
}

.socialLogos{
  margin-left: 26.5972222222%;
  position: absolute;
}

.headerTitle{
  position: absolute;
  flex:1;
  height: 24px;
  font-family: Gilroy-SemiBold;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.67px;
  color: #18181d;
  margin-top: 29px;
  margin-bottom: 27px;
  margin-left: 9.5%;
}

.socialLogo{
  width: 18px;
  height: 16px;
  padding: 0 8.75px;
  margin-top: 30px;
  margin-bottom: 31px;
}

.communication {
  margin-left: 58%;
}

.phoneLogo{
  width: 5%;
  height: 20px;
  margin-top: 30px;
  float: left;
}

.internationalCalls{
  flex: 1;
  height: 19px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #282828;
  margin-top: 32px;
  margin-left: 10px;
  float: left;
  padding: 0 5px,
}

.phoneNumber {
  flex: 1;
  height: 19px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252851;
  float: left; 
  margin-top: 32px;
  margin-left: 2%;
}

.headerWhatsapp{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  float: left;
  margin-top: 20px;
  margin-left: 3%;
  border-radius: 3px;
}

.whatsAppIcon{
  width: 23px;
  height: 23px;
  margin-top:  9px;
  margin-left: 25%;
  /* background-color: #25d366; */
}

.hearthIconDiv{
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  float: left;
  margin-top: 20px;
  margin-left: 4%;
}

.hearth_icon {
  width: 20px;
  height: 17px;
  color: #9197b6;
  margin-top: 13px;
  margin-left: 27%;
}

.chosenLan{
  float: left;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 4%;
}

.flag{
  float: left;
  width: 28px;
  height: 20px;
  margin-left: 8%;
  margin-top: 8%
}

.flagText {
  float: left;
  width: 45px;
  height: 17px;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.17px;
  color: #18181d;
  margin-left: 10%;
  margin-top: 10%;
}

.CurrencyHoverContainer{
  width: 210px;
  height: 277.3px;
  border-radius: 2px;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: absolute;
  margin-top: 80px;
  margin-left: 77.5%;
  z-index: 40;
}

.CurrencyHover1Text{
  flex:1;
  height: 16px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  margin-top: 20px;
  margin-left: 11%;
}

.CurrencyHoverSelect{
  width: 160px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #d5d7e2;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a3a3a;
  margin-top: 5px;
  margin-left: 11%;
} 

.CurrencyChangeButton{
  width: 160px;
  height: 40px;
  border-radius: 3px;
  background-color: #e33654;
  font-family: Gilroy-SemiBold;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 29px;
  margin-left: 11%;
} 

/* HEADER 2 COMPONENT */

.header2 {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header2Help {
  float: left;
  width: 13.06%;
  height: 39px;
  border-radius: 3px;
  border: solid 1px #e0e0e0;
  margin-left: 7%;
  margin-top: 33px;
  margin-right: 30px;
  background-color: #ffffff;
  text-decoration: none;
  transition: 0.5px
}

.header2Help:hover{
  background-color: #252851;
  color: white;
  border: 1px solid #ffffff;
  transition: 0.5s
} 

.header2HelpText{
  flex:1;
  height: 19px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  margin-top: 0px;
  margin-left: 2%;
  padding:12px 13px;
}

.header2HelpText:hover{
  color: white
} 

.Header2navigatorsContainer{
  margin-left: 30.55%;
}

.navigators {
  float: left;
  margin-left: 6%;
  margin-top: 31px;
  background-color:  #ffffff;
  border: none;
  text-decoration: none;
}

.navigators:hover {
  border-bottom: 4px solid #252851;
  transition: 0.1s;
}

.navigatorText {
  flex: 1;
  height: 19px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
}

/* MAIN SEARCH COMPONENT*/
.DownArrow{
  position: absolute;
  margin-top:-20px;
  margin-left: 14%;
}

.CitySearchIntroductionHeader {
  display: flex;
  text-align: center;
}
.MainSearch{
  width: 100%;
  height: 800px;
  background-size: 100% 100%;
  z-index: 1;
}

.cityContent {
  margin-left: 8.37%;
  position: absolute;
  z-index: 21;
  margin-top: -500px;
}

.cityContentHeader {

  font-family: Gilroy-SemiBold;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.cityContentHeader2 {
  color: white;
  font-size: 60px;
  font-weight: 300;
  margin-top: 0;
  font-family: Gilroy-Regular
}

.cityContentText {
  width: 55.5%;
  height: 115px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 8.37%;
  position: absolute;
  z-index: 10;
  margin-top: -330px;
}

.searchContainer {
  margin-top: 639px;
  position: absolute;
  background-color: #1d1f42;
  width: 26%;
  height: 161px;
  z-index: 10;
}


.Container1Text {
  flex:1;
  height: 19px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 15%;
  margin-top: 34px;
}

.locationLogo {
  width: 18px;
  height: 24px;
  color: rgba(253, 251, 251, 0.1);
  margin-left: 20px;
  margin-top: 18px;
  float: left;
  fill:  rgba(253, 251, 251, 0.1);
}

.searchInput {
  width: 300px;
  height: 60px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 15%;
  float: left
}

.locationInput {
  width: 207px;
  height: 17px;
  font-family: Gilroy-LightItalic;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 22px;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.001);
  opacity: none;
  display: inline-block;
  border: none
}

.MainSearchIcons {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.001);
  fill:#ffffff;
  margin-top: 29px;
  margin-left: 13%;
}

.searchOptions {
  width: 24.78%;
  height: 161px;
  background-color: #252851;
  float: left;
  border-left: 1px solid #1d1f42;
  cursor: pointer;
}

.searchOptions2 {
  margin-left: 26%;
  position: absolute;
  margin-top: 639px;
  height: 161px;
  width: 52.5%;
  z-index: 10;
}

.searchOptionText {
  color: #ffffff;
  flex: 1;
  margin-top: 71px;
  margin-left: 30%;
  margin-bottom: 50px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-family: Gilroy-SemiBold;
}

.searchOptionText2 {
  color: #ffffff;
  flex: 1;
  margin-top: 71px;
  margin-left: 40%;
  margin-bottom: 50px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-family: Gilroy-SemiBold;
}

.searchBox {
  position: absolute;
  width: 13%;
  height: 161px;
  background-color: #e33654;
  margin-top: 639px;
  margin-left:78.3%;
  z-index: 10;
}

.searchIcon{
  width: 22px;
  height: 22px;
  color: #ffffff;
  margin-top: 69px;
  margin-left: 18.5px;
}

.searchBoxText {
  width: 41px;
  height: 24px;
  font-family: Gilroy-Regular;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 50.5px;
  margin-top: 68.9px;
  float: left;
}

.PropertyTags{
  position: absolute;
  width: 13.45%;
  height: 330px;
  border-radius: 3px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-top: 800px;
  margin-left: 25.85%;
  z-index: 20;
}

.PropertyTag{
  height: 66px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(54, 58, 108, 0.3);;
  background: none;
}

.checkIcon{
  margin-left: 7%;
  float: left;
  margin-top: 17px;
  width: 30px;
  height: 30px;
}

.PropertyTagText{
  height: 10px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484b79;
  margin-left: 7%;
  margin-top: 23px;
  float: left;
  text-align: left;
}

.PriceTags{
  background-color: #ffffff;
  height: 236px;
  width: 13.45%;
  position: absolute;
  margin-left: 38.9%;
  margin-top: 800px;
  z-index: 20;
}

.PriceTag1{
  margin-top: 10px;
}

.PriceTagHeader{
  flex: 1;
  height: 19px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484b79;
  margin-left: 7%;
  margin-top: 33px;
}

.RangeInput{
  width: 200px;
  height: 2px;
  border-radius: 2px;
  background-color: #d8d8d8;
  color: black;
  background: transparent;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.AdvancedFilter {
  background-color: #ffffff;
  width: 40.25%;
  position: absolute;
  margin-left: 50%;
  z-index: 20;
  height: 240px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

.AdvancedFilterRow1{
  float: left;
  width: 49.5%;
  height: 100%;
  border-right: 1px solid #c2c3d2;
}

.AdvancedFilterRow2{
  float: left;
  width: 49.5%;
  height: 100%;
}

.AdvancedContainer1{
  width: 100%;
  height: 27%;
  margin-left: 8%;
  margin-top: 10px;
  
}

.AdvancedFilterText{
  flex:1;
  float: left;
  height: 19px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484b79;
  position: absolute;
}

.AdvancedSelector {
  float: left;
  width: 8%;
  margin-left: 22%;
  margin-top: 5px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #e3e5ed;
  position: absolute;
}

.AdvancedInput{
  height: 40px;
  width: 15%;
  border-radius: 4px;
  border: solid 1px #e3e5ed;
  margin-left: 22%;
  position: absolute; 
}

.CityContentProperities{
  position: absolute;
  width: 225px;
  height: 78px;
  border-radius: 3px;
  background-color: rgba(227, 54, 84, 0.9);
  margin-left:26%;
  z-index: 20;
  margin-top:-450px;
}
.CityContentProperitiesText {
  width: 78px;
  height: 50px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  padding-right: 20%;
  border-right: 1px solid #c02540;
  text-decoration: none;
}

.CityContentProperitiesText1 {
  font-family: Gilroy-SemiBold;
  font-size: 41px;
}

.CityContentProperitiesIcon{
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  margin-left: 86%;
  margin-top: 19%;
}

.SliderGallery{
  width: 100%;
  position: relative;
}

.slider-cover-image {
  width: 100%;
  height: 800px;
}

.slider{
  position: absolute;
  top: 209px;
  right: 64px;
  width: 59px;
  height: 191px;
  display: flex;
}
/* FEATURED 1 */

.featured1 {
  width: 100%;
  height: 770px;
  background-color: #f0f0f0;
}


.featured1Header {
  margin-left: 9.4%;
  margin-top: 93px;
  width: 553px;
  height: 66px;
  font-family: Gilroy-Regular;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  color: var(--dark);
  position: absolute;
}

.featuredContainer2{
  width: 88.2%;
  margin-left: 6.4%;
  position: absolute;
}

.featuredContainer{
  width: 30%;
  height: 400px;
  background-color: #ffffff;
  margin-top: 210px;
  margin-left: 3.3%;
  float: left;
}

.featuredRow1{
  height: 200px;
  background-image: url('./static/plane.svg')
}


.featuredHeader {
  flex: 1;
  height: 24px;
  font-family: Gilroy-Regular;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 39px;
  margin-top: 166px;
  position: absolute;
}

.featuredsContent {
  margin-top: 18px;
  margin-left: 39px;
  width: 310px;
  height: 120px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #252627;
}

.featureMore{
  margin-left: 259px;
  width: 81px;
  height: 19px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252851;
}

/* FEATURED 2  */

.featured2 {
  margin-left: 6.94%;
  height: 607px;
}

.featured2Container{
  width: 27%;
  height: 240px;
  border-radius: 6px;
  background-color: #25d366;
  float: left;
  margin-left: 30px;
  background-image: url('./static/antalya_night.jpg');
  background-size: 100% 100%;
  text-decoration: none;
}

.featured2Container2{
  margin-left: 7.3%;
  margin-top:106px;
  margin-bottom: 170px;
}

.featured2Header2 {
  margin-left: 9.37%;
  margin-top: 80px;
  width: 553px;
  height: 66px;
  font-family: Gilroy-SemiBold;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: normal;
  color:#1d1f42
}

.featured2Header {
  margin-left: 1.87%;
  margin-top: 171px;
  color: white;
}

.featureds2Content{
  width: 7.7%;
  height: 30px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 2.08%;
}

/* INTRODUCTION */

.introduction {
  width: 100%;
  height: 865px;
  background-color:#252851;
}

.introductionContainer1 {
  margin-left: 9.4%;
  width: 569px;
  float: left; 
}

.introductionContainer2{
  margin-left: 8.08%;
  margin-top:90px;
  float: left;
  width: 39.5%;
  height: 675px;
}

.introductionImg{
  width: 100%;
  height: 675px;
}

.introductionHeader{
  width: 78%;
  height: 98px;
  font-family: Gilroy-SemiBold;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 115px;
}

.introductionContent{
  width: 569px;
  height: 463px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #ffffff;
  margin-top:32px;
}

.introductionButton {
  height: 19px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border-radius: 1px;
  background-color: #252851;
  flex: 1;
  border: none;
}

/* CONCTACT FOOTER */

.Footer2{
  height: 599px;
  width: 100%;
}

.Footer2Container1{
  width: 25.7%;
  margin-left: 13.37%;
  margin-top:90px;
}

.Footer2Container2{
  width: 25.7%;
  margin-left: 13.37%;
  margin-top:27px;
  float: left;
}

.Footer2Header{
  width:  100%;
  height: 49px;
  font-family: Gilroy-SemiBold;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
}

.Footer2Content {
  width: 85%;
  height: 68px;
  font-family: Gilroy-Regular;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #1d1f42;
  margin-top: 14px;
}

.Footer2Input1{
  width: 100%;
  height: 60px;
  margin-top: 30px;
}
.Footer2Input2{
  width: 100%;
  height: 150px;
  margin-top: 30px;
}
.Footer2Button{
  width: 100%;
  height: 60px;
  margin-top: 31px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #e33654;
}

/* SUBSCRIBE */

.Subscribe{
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
}

.SubscribeRow1{
  width: 51%;
  height: 100px;
  background-color: #f6f6f6;
  float:left;
}

.SubscribeHeader {

  height: 28px;
  margin-left:40%;
  margin-top:26px;
  font-family: Gilroy-Regular;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
}

.SubscribeContent{
  width: 40%;
  height: 16px;
  margin-left:40%;
  float: left;
  width: 309px;
  height: 16px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
}

.SubscribeRow2{
  width: 34%;
  height: 100px;
  background-color: #1d1f42;
  float: left;
}

.SubscribeInput {
  width: 80%;
  height: 60px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  margin:18px 10%;
}

.SubscribeRow3{
  width: 15%;
  height: 100px;
  background-color: #e33654;
  float: left;
}

.SubscribeButton {
  width: 100%;
  height: 100%;
  font-family: Gilroy-SemiBold;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-left: 43px;
  padding-top: 10px;
  border: none;
  margin-top: 0;
  background-color: #e33654;
}

/* FOOTER */

.Footer {
  width: 100%;
  height: 472px;
  background-color: #e8e8e8;
}

.FooterRow1{
  float: left;
  margin-left: 8.33%;
  margin-top: 28px;
  width: 15%;
}
.FooterRow2{
  float: left;
  margin-left: 5.3%;
  width: 12.5%;
  height: 315px;
  margin-top: 28px;
}
.FooterRow3{
  float: left;
  margin-left: 8.3%;
  width: 20.5%;
  height: 315px;
  margin-top: 28px;
}
.FooterRow4{
  float: left;
  margin-left: 3.7%;
  width: 21%;
  margin-top: 28px;
}

.FooterHeader {
  height: 19px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  flex: 1;
}

.FooterContent{
  width: 274px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #1d1f42;
}

.FooterContact {
    width: 176px;
    margin-top:20px;
}

.FooterEmail {
  width: 176px;
  height: 17px;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42
}

.FooterPhoneLogo{
  width: 16px;
  height: 16px;
  float: left;
  
}

.FooterPhoneNumber{
  width: 150px;
  height: 19px;
  margin-left:23px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252851;
}

.FooterAdress{
  width: 165px;
  height: 72px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #1d1f42;
  margin-top:23px;
}

/*  FOOTER2 */

.Footer3 {
   width: 100%;
  height: 80px; 
  background-color: #252851; 
}

.Footer2Rigths {
  height: 16px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  float: left;
  margin-left: 9%;
  margin-top: 32px;
}

.Footer2socialLogos {
  float: left;
  margin-left: 22.6%;
  color: #fff;
}

.FsocialLogo{
  width: 16px;
  height: 12px;
  padding: 0 8.75px;
  margin-top: 34px;
  margin-bottom: 31px;
  background-color: #fff;
  color: #ffffff 
}

/* SEARCH HOVER */

.ParentSearchHover{
  width: 100%;
  height: 720px;
  z-index: 50;
  margin-top: 100px;
  position: absolute;
}

.SearchHover{
  z-index: 22;
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  position: absolute;
  box-shadow: 4px 4px 24px 4px rgba(29, 31, 66, 0.11);
}

.SearchHoverHeader {
  flex: 1;
  height: 19px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  margin-bottom: 25px;
}

.SearchHoverRow1 {
  float: left;
  width: 230px;
  margin-left: 155px;
  margin-top: 40px;

}

.SearchHoverRow2 {
  margin-top: 40px;
  float: left;
  width: 230px;
  margin-left: 65px;
}

.TagInput {
  width: 230px;
  height: 40px;
  border-radius: 3px;
  background-color: #bebfcd;
  margin-top: 10px;
  color: white;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.TagInput:hover {
  background-color: #0f113d;
}

.propertiesTag {
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.19;
  letter-spacing: normal;
  color: #1d1f42;
  text-decoration: none;
  margin-top: 100px;
}

.SearchHover4 {
  margin-top: 139.1px;
  margin-left: 155px;
  float: left;
  width: 570.3px;
  height: 287px;
}

.SearchHoverRow3{
  width: 1440px;
  height: 300px;
  margin-top: 450px;
}

.SearchHoverContainer{
  margin-left: 125px;
}

.RecommendedRow {
  float: left;
  width: 270px;
  height: 180px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, rgba(29, 31, 66, 0), rgba(29, 31, 66, 0.66));
  margin-left: 30px;
}

.SearchHoverHeader2 {
  margin-left: 155px;
  flex: 1;
  height: 19px;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
}

.RecommendedContainer{
  float: left;
  width: 270px;
  height: 180px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, rgba(29, 31, 66, 0), rgba(29, 31, 66, 0.66));
  margin-left: 30px;
  margin-top: 40px;
}


.RecommendedContent {
  width: 209px;
  height: 44px;
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 115px;
  margin-left: 15px;
  
}

/* HEADER 3 */

.Header3{
  width: 100%;
  height: 100px;
  background-color: #1d1f42;
}

.searchContainer3{
  width: 30%;
  height: 100px;
  background-color: #1d1f42;
  float: left;
}

.searchInput3{
  width: 307px;
  height: 60px;
  opacity: 0.1;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top:20px;
  margin-left: 80px;
}

.locationLogo3{
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 18px;
  float: left;
}

.locationInput3{
  font-family: Gilroy-SemiBoldItalic;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-left: 40px;
}

.locationInput3::placeholder{
  color: white;
  font-family: Gilroy-Regular;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

}

.locationInput3::placeholder {
  color: white;
}


.searchOptions4{
  float:left;
  width: 954px;
  height: 100px;
  background-color: #252851;
  
}

.searchOptions3{
  float: left;
}

.searchOptionText3{
  width: 126px;
  height: 19px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 95px;
  margin-top: 41px;
}

.searchBox3{
  width: 13.2%;
  height: 100px;
  background-color: #e33654;
  float: left;
}

.searchBoxText3 {
  width: 33px;
  height: 24px;
  font-family: Gilroy-Regular;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 50.5px;
  margin-top: 38.9px;
  float: left;
}

.searchIcon3 {
  width: 22px;
  height: 22px;
  color: #ffffff;
  float: left;
  margin-top: 39px;
  margin-left: 20px;
}

/* Introduction */

.Introduction {
  background-image: url('./static/istanbul.jpg');
  width: 100%;
  height: 550px;
  background-size: 100% 100%;
 }

 .IntroductionContainer {
  width: 570px;
  height: 400px;
  margin-left: 135px;
  margin-top :200px;
  position: absolute;
 }

.IntroductionHeader2{
  width: 239px;
  height: 69px;
  font-family: Gilroy-Regular;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0;
  
}

.IntroductionText {
  width: 570px;
  height: 115px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 18px;
}

.IntroductionButton{
  width: 200px;
  height: 50px;
  border-radius: 3px;
  background-color: #e33654;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
}

/* PROPERTY LIST  */

.GlobalLogo{
  position: absolute;
  margin-left: 20%;
  margin-top: -40px;
}

.CerceveEvLogo{
  position: absolute;
  margin-left: -19%;
  margin-top: 15px
}

.bedLogo{
  margin-left: -15%;
  margin-top: 15px;
}

.CityPropertyList {
  width: 100%;
  height: 1720px;
  background-color: #f0f0f0;
}

.PropertyHeader {
  position: absolute;
  margin-left: 8%;
  margin-top: 41px;
}

.PropertyButton{
  width: 200px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 1120px;
}

.PropertyHeaderCity{
  font-weight: bold;
}

.PropertyHr {
  margin-top: 29px;
}

.PropertyContainer {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  
}

.PropertyRow{
  width: 370px;
  height: 460px;
  border-radius: 3px;
  background-color: #ffffff;
  float: left;
  margin-left:40px;
  margin-top: 30px;
  text-decoration: none;
}

.PropertyHead {
  width: 370px;
  height: 240px;
  background-size : 100% 100%; 
  background-image: url('./static/istanbul.jpg')
}

.PropertyBody {
  width: 370px;
  height: 220px;
  border-radius: 3px;
}

.PropertyBodyRow1{
  height: 85px;
  width: 370px;
}

.PropertyBodyRow2{
  height: 56px;
  width: 370px;
  border-bottom: 2px solid #f0f0f0;;
  border-top: 2px solid #f0f0f0;
}

.PropertyBodyRow3{
  height: 60px;
  width: 370px;
}

.PropertyType {
  position : absolute;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: rgba(29, 31, 66, 0.5);
  padding: 10px 5px;
  font-family: Gilroy-SemiBold;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.PropertyLocation {
  width: 83px;
  height: 17px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5c5f81;
  margin-left: 29px;
  margin-top: 17px;
}

.PropertyDescription {
  width: 310px;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #1d1f42;
  margin-left: 30px;
  margin-top: 12px;
  margin-bottom: 0;
}

.PropertyCost {
  width: 97px;
  height: 22px;
  font-family: Gilroy-Regular;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  margin-left: 30px;
}

.PropertySize {
  float: left;
  margin-left: 72px;
}

.PropertyBedCount {
  float: left;
  margin-left: 120px;
}

/* PROPERTY HELPER */

.PropertyHelper{
  position: fixed;
  width: 27%;
  padding-left: 3.5%;
  margin-left: 75%;
  background-color: #ffffff;
  z-index: 21;
  height: 825px;
}

.PropertyHelperHeader{
  width: 312px;
  height: 36px;
  font-family: Gilroy-SemiBold;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  margin-top: 0;

}

.PropertyHelperContent{
  width: 314px;
  height: 48px;
  font-family: Gilroy-Regular;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1d1f42;
}

.PropertyHelperInput{
  width: 355px;
  height: 60px;
  border-radius: 3px;
  border: solid 1px #d5d7e2;
  margin-top: 15px;
}

.PropertyHelperTextArea{
  width: 355px;
  height: 150px;
  border-radius: 3px;
  border: solid 1px #d5d7e2;
  margin-top:15px;
}

.PropertyHelperButton{
  width: 355px;
  height: 60px;
  border-radius: 3px;
  background-color: #e33654;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 25px;
}

.PropertyHelperContainer{
  width: 355px;
  height: 148px;
  border-radius: 3px;
  background-color: #161617;
  margin-top: 40px;
}

.PropertyHelperImg {
  position: absolute;
  margin-top: 6px;
}

.PropertyHelperIcon {
  position: absolute;
  margin-left: 152px;
  margin-top: 35px;
}

.PropertyHelperNum{
  width: 135px;
  height: 21px;
  font-family: Gilroy-REgular;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  margin-left: 190px;
  margin-top: 36px;
}

.PropertyHelperName{
  width: 100px;
  height: 23px;
  font-family: Gilroy-Regular;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 83px;
  margin-left: 152px;
  position: absolute;
}

.PropertyHelperTitle{
  width: 104px;
  height: 14px;
  font-family: Gilroy-Regular;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8a8a8a;
  position: absolute;
  margin-left: 152px;
  margin-top: 110px;
}

.PropertyImageElemet{
  
}

/* Property1 */

.Property1{
  background-image: url("./static/antalya_foto.jpeg");
  width: 75%;
  height: 600px;
  background-size: 100% 100%;
  margin-bottom:140px;
}

.Property1ImageElement{
  width: 90px;
  height: 60px;
  border-radius: 3px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: solid 1px rgba(151, 151, 151, 0.43);
  background-color: rgba(216, 216, 216, 0);
  float: left;
  margin-left: 10px;
  color: white;
  
}

.Property1ImageArr{
  position: absolute;
  margin-top: 500px;
  margin-left: 40px;
}

.Property1Footer {
  width: 75%;
  height: 140px;
  background-color: #1d1f42;
  position: absolute;
  margin-top:600px;
}

.Property1FooterLocation{
  width: 173px;
  height: 16px;
  opacity: 0.7;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  margin-left:40px;
  margin-top:27px
}

.Property1FooterHeader{
  width: 240px;
  height: 29px;
  font-family: Gilroy-SemiBold;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  margin-left: 40px;
  margin-top:46px;
}

.Property1FooterStart{
  width: 75px;
  height: 16px;
  opacity: 0.7;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  position: absolute;
  margin-left: 80%;
  margin-top: 27px;
}

.Property1FooterPrice{
  width: 111px;
  height: 29px;
  font-family: Gilroy-SemiBold;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  position: absolute;
  margin-left: 80%;
  margin-top: 46px;
}

.PropertyFeatures {
  width: 60%;
  height: 80px;
  border-radius: 3px;
  box-shadow: 0 2px 24px 0 rgba(29, 31, 66, 0.11);
  background-color: #ffffff;
  position: absolute;
  margin-top: 700px;
  margin-left: 5%
}

.PropertyFeature{
  float: left;
  width: 24.66%;
  height: 80px;
  background-color:#ffffff;
  border-left: 1px solid #f0f0f0;
}

.PropertyFeatureIcon{
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top:21px;
  margin-left: 3%;
}

.PropertyFeatureText{
  flex: 1;
  height: 19px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  margin-left: 40%;
  margin-top: 30px;
}

/* PROPERTY 2 */

.Property2{
  height: 750px;
  width: 75%;
  background-color: #f0f0f0;
}

.PropertyPageFooter {
  width: 75%;
}

.Property2Header{
  width: 449px;
  height: 28px;
  font-family: Gilroy-Regular;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  margin-top: 75px;
  margin-left: 5%;
  position: absolute;
}

.Property2Content {
  width: 50%;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #1d1f42;
  position: absolute;
  margin-left: 7%;
  margin-top: 130px;
}

.Property2Header2{
  width: 449px;
  height: 28px;
  font-family: Gilroy-Regular;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d1f42;
  margin-top: 420px;
  margin-left: 5%;
  position: absolute;
}

.Property2Features{
  margin-left: 90px;
  position: absolute;
  margin-top: 480px;
  width: 70%;
}

.Property2Feature{
  float: left;
  width: 20%;
  height: 50px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-left: 1%;
  margin-top: 1%;
}
.Property2FeatureHeader{
  width: 26px;
  height: 26px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252851;
  float: left;
  position: absolute;
  margin-left: 2%;
  margin-top: 12px;
}

.Property2FeatureContent{
  float: left;
  position: absolute;
  margin-left: 6%;
  margin-top: 1.3%;
}

.Footer2Input1::placeholder {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a3a3a;
  padding-left: 40px;
}

.Footer2Input2::placeholder{
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a3a3a;
  padding-left: 40px;
  padding-top: 20px;
}

.SubscribeInput::placeholder{
  font-family: Gilroy-SemiBoldItalic;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-left: 40px;
}

.GuideButton {
  text-decoration: none;
  color: white
}

.slider-imageslider {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45px;
}
